{% extends 'index.html.twig' %}

{% block title %}Comments{% endblock %}

{% block body %}
    <form action="/comment" method="get">
        username <input type="text" name="username">
        content <input type="text" name="content">
        <input type="submit" value="go">
    </form>

    <p>Count: {{ count }}</p>
    <h3>page: {{ page }}</h3>
    {% for item in list %}
        <h4>ID{{ item.getId() }} {{ item.getUsername }}</h4>
        <p>{{ item.getContent() }}</p>
        <p>like: {{ item.getSuki }} | dislike: {{ item.getKirai() }}</p>
        <p>{{ item.getTime().format('Y-m-d H:i:s') }}</p>
    {% endfor %}
{% endblock %}