{% extends 'index.html.twig' %}

{% block title %}Cover Log{% endblock %}

{% block body %}
    <form action="/log/cover" method="get">
        Title <input type="text" name="title" title="video title">
        Author <input type="text" name="author" title="video author">
        String ID <input type="text" name="stringID" value="av" title="av number">
        <input type="submit" value="Search">
    </form>
    <h3>page: {{ page }}</h3>
    {% for item in list %}
        <h5>{{ item.id }}</h5>
        <h4>Title: {{ item.title }}</h4>
        <p>Author: {{ item.author }}</p>
        <p>URL: {{ item.url }}</p>
    {% endfor %}

    <a href="?page={{ page + 1 }}">next page</a>
    <a href="?page={{ page - 1 }}">previous page</a>
{% endblock %}
