{% extends 'index.html.twig' %}

{% block title %}Cover Log{% endblock %}

{% block body %}
    <form action="/log/cover" method="get">
        Title <input type="text" name="title" title="video title">
        Author <input type="text" name="author" title="video author">
        String ID <input type="text" name="stringID" value="av" title="av number">
        <input type="submit" value="Search">
    </form>

    <h3>page: {{ page }}</h3>
    {% for item in list %}
        <h3>{{ item.id }}</h3>
        <h4>{{ item.title }}</h4>
        <p>Author: {{ item.author }}</p>
        <p>URL: {{ item.url }}</p>
    {% endfor %}

    <form action="/log/cover" method="get">
        <input type="hidden" name="title" value="{{ title }}">
        <input type="hidden" name="author" value="{{ author }}">
        <input type="hidden" name="stringID" value="{{ stringID }}">
        <button type="submit" name="page" value="{{ page + 1 }}">next page</button>
        <button type="submit" name="page" value="{{ page - 1 }}">previous page</button>
    </form>
{% endblock %}
