<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>七日热门 - BCD</title>
    <link rel="stylesheet" type="text/css" href="/CSS/hot-list.css">
</head>
    <body>
        <header>
            <nav>
                <a href="/">BilibiliCD</a>
                <a href="/">&lsaquo; BCD</a>
            </nav>
            <div id="title">
                <h1>七日热门</h1>
            </div>
        </header>
        {% for item in list %}
            <span id="noreferrer-{{ item.id }}"></span>
            <section>
            <figure>
                <img src="{{ item.url }}" alt="{{ item.title }}" rel="noreferrer">
            </figure>
            <div>
                <h2>{{ item.id }}</h2>
                <h3>标题：{{ item.title }}</h3>
                <p>UP主：{{ item.author }}</p>
                <p>封面链接：{{ item.url }}</p>
            </div>
        </section>
        {% endfor %}
        <script src="Javascript/referrer-killer.js"></script>
        <script>
            {% for item in list %}
            document.getElementById('noreferrer-{{ item.id }}').innerHTML = ReferrerKiller.imageHtml('{{ item.url }}');
            {% endfor %}
        </script>
    </body>
</html>
