{% extends 'index.html.twig' %}

{% block title %}Reply{% endblock %}

{% block body %}
    <form action="/comment/{{ comment.getId() }}" method="get">
        username <input type="text" name="username">
        content <input type="text" name="content">
        <input type="hidden" name="new" value=true>
        <input type="submit" value="go">
    </form>

    <h3>ID{{ comment.getId() }} {{ comment.getUsername }}</h3>
    <h2>{{ comment.getContent() }}</h2>

    <form action="/comment/{{ comment.getId() }}" method="post">
        top value: <input type="number" name="top" value="{{ comment.getTop() }}">
        <input type="hidden" name="topChanged" value=true>
        <input type="submit" value="OK">
    </form>

    <p>Count: {{ count }}</p>
    <h3>page: {{ page }}</h3>
    {% for item in list %}
        <h4>ID{{ item.getId() }} {{ item.getUsername }}</h4>
        <p>{{ item.getContent() }}</p>
        <p>{{ item.getTime().format('Y-m-d H:i:s') }}</p>
        <form action="/comment/{{ comment.getId() }}" method="post">
            <input type="hidden" name="del" value=true>
            <input type="hidden" name="id" value="{{ item.getId() }}">
            <input type="submit" value="Delete">
        </form>
    {% endfor %}
{% endblock %}