{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    <style>
        iframe {
            display: none;
        }
        img {
            width: 100vh;
        }
    </style>
{% endblock %}

{% block body %}
    <span id="noreferrer"></span>
    <img src="{{ coverURL }}" alt="{{ title }}" rel="noreferrer">
    <p>{{ title }}</p>
    <p>{{ author }}</p>
    <p>{{ coverURL }}</p>
{% endblock %}

{% block javascripts %}
    <script src="Javascript/referrer-killer.js"></script>
    <script>
        document.getElementById('noreferrer').innerHTML = ReferrerKiller.imageHtml('{{ coverURL }}');
    </script>
{% endblock %}
